*{
    margin: 0px;
    padding: 0px;
}

#home{
    background-image: url(image/Background\ Lamp.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
}

#home:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #000000, rgba(0,0,0,0));
}

.container{
    padding: 10px 10%;
}

/* navigation */
.nav{
    /* margin-right: 10px; */
    text-align: right;
    justify-content: space-between;
    font-family: 'garet', sans-serif;
    position: fixed;
    right: 7%;
}

.nav li{
    display: inline-block;
    padding: 7px;
    margin-top: 17px;
}

.nav li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 550;
    position: relative;
}

.nav li a:hover{
    color: #c43727;
}

.nav li a:active{
    color: #d06a74;
}

/* header portfolio */
.header h1{
    color: white;
    font-size: 200px;
    text-align: center;
    font-family: 'atkinson hyperlegible', sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: 18%;
    display: flex;
    left: 12.9%;
}

.header span{
    color: white;
    font-family: 'garet', sans-serif;
    font-weight: 550;
    font-size: 23px;
    background-color: #c43727;
    padding: 7px;
}

.role{
    margin-top: 17%;
    left: 13.4%;
    position: absolute;
}

.name{
    margin-top: 32%;
    right: 12.5%;
    position: absolute;
}

/* about me */
.container{
    /* background-image: url(image/Background.png); */
    background-color: black;
}

.profil {
    margin-top: 45px;
}

.desc {
    display: flex;
    flex-wrap: nowrap; /* Mencegah elemen membungkus */
    justify-content: space-between;
    align-items: center; /* Agar vertikalnya sejajar */
    text-align: left;
}

.desc h2{
    font-family: 'atkinson hyperlegible', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 85px;
    margin-top: 15%;
    flex-basis: 50%;
    margin-left: 20px;
}

.desc p{
    font-family: 'garet', sans-serif;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    flex-basis: 50%;
}

.desc span{
    background-color: #c43727;
    padding: 3px;
    font-weight: 550;
}

.profil {
    flex-basis: 75%; 
}

.photo {
    flex-basis: 50%; 
    display: flex;
    justify-content: flex-end; 
    position: relative;
}

.photo img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.photo::after {
    content: ""; /* Membuat elemen pseudo */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent); /* Gradasi dari bawah */
    border-radius: 10px; 
    z-index: 2; 
}

.profil-border{
    border: #c43727 4px solid;
    border-radius: 38px;

}

.profil-desc{
    padding: 17px;
    /* padding-right: 50%; */
}

/* portfolio */
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.portfolio h3{
    font-family: 'atkinson hyperlegible', sans-serif;
    color: #c43727;
    font-weight: bold;
    font-size: 80px;
    margin-top: 90px;
    flex-basis: 50%;
    text-align: center;
    padding: 0px;
    border: #c43727 4px solid;
    border-radius: 100px;
    width: 425px;
}

.poster img{
    width: 300px;
    padding: 25px;
    margin-top: 3%;
}

/* contact */
#contact h2{  /*header */
    font-family: 'atkinson hyperlegible', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 85px;
    margin-top: 15%;
    flex-basis: 50%;
    margin-left: 20px;
}

.sosmed{
    margin-left: 4%;
}

.sosmed p{
    color: white;
    font-family: 'garet', sans-serif;
    font-weight: 550;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: #c43727;
    border-radius: 100px;
    width: 280px;
    text-align: center;
    margin: 25px;
}

.sosmed p a{
    color: white;
    text-decoration: none;
}

.sosmed p i{
    margin: 5px;
}

.sosmed p:hover{
    color: #000000;
    background-color: #ffffff;
}

.sosmed p a:hover{
    color: #000000;
}

.sosmed p:active{
    background-color: #d06a74;
}

#footer{
    background-color: #c43727;
    padding: 5px;
    justify-content: center;
    display: flex;
}

.footer{
    color: white;
    font-family: 'garet', sans-serif;
    font-size: 12px;
    /* text-align: center; */
}