.box1{
    height: 100px;
    width: 500px;
    background-color: darkgray;
    padding: 10px;
}

div.box1 p{
    height: 75%;
    width: 75%;
    background-color: beige;
}

.box2{
    height: 125px;
    width: 400px;
    background-color: darkkhaki;
    /* padding: 10px; */
}

/* ukuran minimum dan maximum dari box */
td{
    background-color: cadetblue;
}

td.deskripsi{
    min-width: 500px;
    max-width: 500px;
    background-color: antiquewhite;
}

/* overflow */
h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
}

p.satu{
    height: 100px;
    width: 300px;
    overflow: hidden;
}

p.dua{
    height: 100px;
    width: 350px;
    overflow: scroll;
}