*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 30px;
    color: blueviolet;
}

ol{
    list-style-type: lower-latin;
}

ul{
    width: 500px;
}

ul li{
    margin: 10px;
    list-style-position: inside;
}

ul.singkat{
    list-style: square inside;
}

ol.singkat{
    list-style: georgian inside;
}

table{
    width: 600px;
    border-spacing: 7px;
    border-collapse: collapse;
}

th{
    border-top: 1px solid blue;
    border-bottom: 1px solid rgb(255, 0, 0);
    text-align: center;
}

th,td{
    padding: 7px;
}

tr.genap{
    background-color: rgb(118, 163, 164);
}

tr:hover{
    background-color: rgb(121, 121, 255);
}

input{
    display: block;
    background-color: navajowhite;
    border: 1px solid rgb(254, 210, 145);
    border-radius: 5px;
    padding: 10px 10px 10px 35px;
    margin-bottom: 10px;

    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 8px;
}

input:focus{
    background-color: rgb(249, 240, 226);
}

input#email{
    background-image: url("../image/email.png");
}

input#instagram{
    background-image: url("../image/instagram.png");
}

input#web{
    background-image: url("../image/web.png");
}

input#submit{
    color: rgb(35, 30, 30);
    background-color: chocolate;
    padding: 5px;
}

input#submit:hover{
    color: crimson;
    background-color: burlywood;
    cursor: pointer;
}

input#submit:active{
    color: cornsilk;
    background-color: crimson;
}

div{
    height: 300px;
}

.img-large{
    height: 250px;
}