body{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.header{
    text-align: center;
}

#content{
    overflow: auto;
}

#nav, #feature, #footer{
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.column1, .column2, .column3{
    background-color: antiquewhite;
    width: 30%;
    float: left;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 0.66%;
}

.column1{
    margin-left: 0px;
}

.column3{
    margin-right: 0px;
}

#content h3{
    text-align: center;
}

#feature img{
    width: 30%;
}

li{
    display: inline;
    padding: 5px;
}