*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}

.intro{
    border: 2px solid;
    background-color: bisque;
    padding: inherit;
}
/* aturan terakhir */
em{
    color: blueviolet;
}

em{
    color: chocolate; /*yg diambil yg ini*/
}

/* spesifik */
strong{
    color: brown; /*level 1*/
}

p strong{
    color: crimson; /*level 2*/
}

p strong{
    color: cadetblue !important; /*level 3*/
}

p strong{
    font-size: 150%;
}

/* studi kasus */
p{
    font-size: 100%;
}

p#pendahuluan{
    font-size: 75%;
}