/* color */

/* foreground color */

/* color name */

h1{
    color: brown;
}

/* hex color */

h2{
    color: #65491c;
}

/* rgb value */

p{
    color: rgb(54,54,42);
}

/* background color */
body{
    background-color: antiquewhite;
}

h1{
    background-color: beige;
}

h2{
    background-color: cornsilk;
}