/* cascade */
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 span{
    font-family: 'Times New Roman', Times, serif;
}

/* merubah span */

/* child selector */
h3>span{
    color: cadetblue;
}

span{
    color: blueviolet;
}

/* inheritance */
/* span dalam heading */
h3{
    font-size: 15px;
    padding: 10px;
}

h3>span{
    padding-left: inherit;
    padding-right: inherit;
}

/* color */
h2{
    background-color: cadetblue;
    color: beige;
    padding: 10px;
}

h3{
    background-color: rgba(157, 187, 246, 0.5);
}

h1{
    background-color: #efefef;
    padding: 10px;
    text-align: center;
}

body{
    background-color: rgb(253, 253, 241);
}