

#header{
    background: url(image/Background\ Lamp.png);
    background-size: 100%;
    margin: 0px;
}

h1{
    font-size: 130px;
    text-align: center;
    margin-top: 0px;
    color: white;
}

.role {
    display: inline-block;
    background: #c43727;
    padding: 5px 10px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
}

.name {
    display: inline-block;
    background: #c43727;
    padding: 5px 10px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    margin-left: 500px;
}

#nav li{
    display: inline;
    padding: 5px;
    margin-top: 0px;
    text-align: center;
    background-color: #c43727;
    margin: 0px;
}

nav{
    font-weight: bold;
    padding: 7px;
    text-decoration: none;
    color: white;
}

.nav li{
    display: inline;
    list-style: none;
    font-size: 18px;
    color: white;
    justify-content: right;
}